<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TizAlerta </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="preload" href="public/css/normalize.css" as="style">
    <link rel="stylesheet" href="public/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/jpg" href="img/Logo.jpeg">

    <!-- Importando íconos -->
    <script src="https://kit.fontawesome.com/56dd043464.js" crossorigin="anonymous"></script>
    
    <!-- Importamos un tipo de fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap" rel="stylesheet">
    <link rel="preload" href="css/styles.css" as="style">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="css/normalize.css">
</head>
<body>
    <!---------------------------------------------------- Imágen y línea encabezado--------------->
    <header class="titulo">
        <img src="img/Diseño Lógica.png" class="tumblain">
        <img src="img/EdomexF.png" class="tumblaind">
    </header>
    
        <!-- Línea multicolor-->
        <div class="line">
            <br>
        </div>
    <!---------------------------------------------------------------- Imágene y línea encabezado-->


<!------------------------------------------------------------ Descargar la Aplicación ---------------------------------->
<section class="hero">
    <div class="contenido-hero">
        <h2> Descarga la Aplicación: <span> TizAlerta </span> </h2>
        <div class="ubicacion"></div>
        <p>
            <!------------------------------------------------------------------------------------------ Ícono de Android -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="44" height="44"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                <polyline points="7 11 12 16 17 11" />
                <line x1="12" y1="4" x2="12" y2="16" />
            </svg>
            <!------------------------------------------------------------------------------------------------------------->
        
            Atizapán de Zaragoza, Estado de México
        </p>
        <a class="boton" href="#"> Descargar </a>
    </div>
</section>
<!-------------------------------------------------------------------------------------------------- APLICACIÓN ---> 

<main>
    <!-- Serían las tarjetas o texto o autores -->
    <!--------------------------------------------------------------------------------- Prueba 1-->
    <!--
    <section class="cardContainer">
        <div class="card">
            <div class="imgbox">
                <img src="img/Logo.jpeg" alt="Logo">
            </div>
            <div class="content">
                <h2>Hello</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Natus provident tenetur quae nulla ipsum voluptatum minus 
                    impedit delectus. Consequatur deserunt omnis earum tempore 
                    adipisci similique cupiditate quos maiores assumenda quod.
                </p>

            </div>
        </div>       
    </section>
    -->
    <!------------------------------------------------------------------------------------------ Prueba 1-->


    <section class="cempo">
        <div class="grid">

        <div class="grid-item">
            <div class="card">
                <img class="cImage" src="img/TizAlerta.jpeg" alt="Logo de la Capi">
                <div class="cContent">
                    <h1 class="c-head"> Hello </h1>
                    <p class="cText">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Eum deserunt aliquid reiciendis ducimus. Quos illum odio dolores.
                        Similique rerum natus ratione quasi provident. Quasi sit, 
                        expedita magni assumenda tempore officiis.
                    </p>
                    <button class="card-btn">
                        Visit <span>&rarr;</span>
                    </button>
                </div>
            </div>
        </div>
            
        <div class="grid-item">
            <div class="card">
                <img class="cImage" src="img/TizAlerta.jpeg" alt="Logo de la Capi">
                <div class="cContent">
                    <h1 class="c-head"> Hello </h1>
                        <p class="cText">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Eum deserunt aliquid reiciendis ducimus. Quos illum odio dolores.
                            Similique rerum natus ratione quasi provident. Quasi sit,
                            expedita magni assumenda tempore officiis.
                        </p>
                    <button class="card-btn">
                        Visit <span>&rarr;</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <img class="cImage" src="img/TizAlerta.jpeg" alt="Logo de la Capi">
                <div class="cContent">
                    <h1 class="c-head"> Hello </h1>
                    <p class="cText">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Eum deserunt aliquid reiciendis ducimus. Quos illum odio dolores.
                        Similique rerum natus ratione quasi provident. Quasi sit,
                        expedita magni assumenda tempore officiis.
                    </p>
                    <button class="card-btn">
                        Visit <span>&rarr;</span>
                    </button>
                </div>
            </div>
        </div>


        </div>
        
    </section>



    <section>
        <h2> Acerca de nuestra aplicación </h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Cupiditate, officiis ipsam nostrum necessitatibus delectus
            harum enim dicta vitae natus libero earum sequi praesentium
            incidunt officia accusamus. Eaque tenetur eum aliquid?
        </p>
    
    </section>

</main>

<!----------------------------------------------------------------------------- Footer ------------->
<footer class="ppF">
    <div class="g1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="img/TizAlerta.jpeg" alt="Logo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, consequuntur asperiores aliquam dignissimos amet cumque eaque officia rem vel totam perspiciatis molestiae iste, odio repellat beatae architecto corporis ipsum velit!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate fugit quasi repudiandae veniam possimus tempora excepturi dolore qui. Consectetur ea obcaecati cumque maxime rerum quae eveniet, odit porro magnam perferendis?</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
            <h3> Hello world</h3>
        </div>
    </div>
    <div class="g2">
        <small>&copy; 2022 <b>TizAlerta</b> - Todos los Derechos Reservados.</small>

    </div>

</footer>

</body>
</html>