<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TizAlerta </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="preload" href="public/css/normalize.css" as="style">
    <link rel="stylesheet" href="public/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/jpg" href="img/Logo.jpeg">

    <!-- Importando íconos -->
    <script src="https://kit.fontawesome.com/56dd043464.js" crossorigin="anonymous"></script>
    
    <!-- Importamos un tipo de fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap" rel="stylesheet">
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
        <link rel="preload" href="css/styles.css" as="style">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="css/normalize.css">
</head>
<body>
    <!---------------------------------------------------- Imágen y línea encabezado--------------->
    <header class="titulo">
        <img src="img/Diseño Lógica.png" class="tumblain">
        <img src="img/EdomexF.png" class="tumblaind">
    </header>
    
        <!-- Línea multicolor-->
        <div class="line">
            <br>
        </div>
    <!---------------------------------------------------------------- Imágene y línea encabezado-->


<!------------------------------------------------------------ Descargar la Aplicación ---------------------------------->
<section class="hero">
    <div class="contenido-hero">
        <h2> Proyecto: <span> TizAlerta </span> </h2>
        <div class="ubicacion"></div>
        <p>
            <!------------------------------------------------------------------------------------------ Ícono de Android -->
            <!--
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="44" height="44"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                <polyline points="7 11 12 16 17 11" />
                <line x1="12" y1="4" x2="12" y2="16" />
            </svg>
            -->
            <!------------------------------------------------------------------------------------------------------------->
        
            Atizapán de Zaragoza, Estado de México
        </p>
        <!--
        <a class="boton" href="#"> Descargar </a>
        -->
    </div>
</section>
<!-------------------------------------------------------------------------------------------------- APLICACIÓN ---> 


<main>
    <!-- Serían las tarjetas o texto o autores -->
    <!--------------------------------------------------------------------------------- Prueba 1-->
    <!--
    <section class="cardContainer">
        <div class="card">
            <div class="imgbox">
                <img src="img/Logo.jpeg" alt="Logo">
            </div>
            <div class="content">
                <h2>Hello</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Natus provident tenetur quae nulla ipsum voluptatum minus 
                    impedit delectus. Consequatur deserunt omnis earum tempore 
                    adipisci similique cupiditate quos maiores assumenda quod.
                </p>

            </div>
        </div>       
    </section>
    -->
    <!------------------------------------------------------------------------------------------ Prueba 1-->

        <section class="cempo-container">
            <div class="card">
                <div class="card-image">
                    <br>
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                 
                    <h2> ¿Eres trabajador gubernamental? </h2>
                    <p>
                        Ingresa aquí para iniciar sesión.
                    </p>
                    <a href="./login">Ingresar </a>
            </div>
        </section>


<!-------------------------------------------------------------------------------Equipo desarrollador-->
<span class="mueve"> Desarrolladores: </span>


    <section class="main">
        <div class="profile-card">
            <div class="imagen">
                <img src="img/Danae.jpeg" height="160" width="300">
            </div>
            <div class="captation">
                <h3> Paola Danae López Pérez </h3>
                <p> Project Manager </p>
                <div class="social-links">
                    <a href="https://www.facebook.com/profile.php?id=100004339770922"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/danalop_18/"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/PaoDanalop"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="imagen">
                <img src="img/Pau.jpeg">
            </div>
            <div class="captation">
                <h3> Paula Santoyo Arteaga </h3>
                <p> Backend Developer </p>
                <div class="social-links">
                    <a href="https://www.facebook.com/paulasophia.santoyo"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/pau_sophi/"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/Pau_Sophi"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="imagen">
                <img src="img/Piko.jpeg" height="160" width="300">
            </div>
            <div class="captation">
                <h3> Diego Balderas </h3>
                <p> Android Developer </p>
                <div class="social-links">
                    <a href="https://www.facebook.com/diegoalejandro.balderas"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/diegobt1912/"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/Dabalderast"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="imagen">
                <img src="img/Rick.jpg">
            </div>
            <div class="captation">
                <h3> Ricardo Condado </h3>
                <p> Frontend Developer </p>
                <div class="social-links">
                    <a href="https://www.facebook.com/ricardo.ramirezcondado/"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/rc_condado/"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/ReyCondado17"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="imagen">
                <img src="img/Nadia.jpg">
            </div>
            <div class="captation">
                <h3> Nadia Paola Gallegos </h3>
                <p> Android Developer </p>
                <div class="social-links">
                    <a href="https://www.facebook.com/nadia.paola.319"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/nad14517/?hl=es"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/Nadia14517"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </section>

</main>

<!----------------------------------------------------------------------------- Footer ------------->
<footer class="ppF">
    <div class="g1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="img/OpcionB.PNG" alt="Logo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE TIZALERTA</h2>
            <br>
            <p>TizAlerta es una aplicación para android de uso público 
            que ayuda a la comunidad civil de Atizapán de Zaragoza. </p>
            <p>
            El tipo de ayuda se enfoca, principalmente, en notificar a 
            los ciudadanos sobre los peligros y/o desastres que suceden 
            en ciertas localizaciones del municipio (desde alertas de 
            sismos, inundaciones, incendios, entre otras más).</p>
        
        </div>
        <div class="box">
            <p>
                El sistema funciona a partir de un sitio web, en el cual
                sólamente miembros autorizados tendrán acceso a ella. Dicho
                sitio se encargará de enviar notificaciones de alerta a los 
                usuarios que cuenten con la aplicación instalada en sus
                dispositivos móviles (celulares).
                <br>
            </p>
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/GobAtizapan" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/gobatizapan/" class="fa fa-instagram"></a>
                <a href="https://www.youtube.com/user/AtizapanTV" class="fa fa-youtube"></a>
                <a href="https://twitter.com/GobAtizapan" class="fa fa-twitter"></a>
            </div>
            
        </div>
    </div>
    <div class="g2">
        <small>&copy; 2022 <b>TizAlerta</b> - Todos los Derechos Reservados.</small>
    </div>

</footer>

</body>
</html>