@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
/* Barra de colores*/
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --verde: rgb(131, 232, 88);
    --morado: rgb(146, 111, 227);
    --naranja: rgb(255, 122, 55);
    --black: #0a141d;
    --footer: #0a1a2a;

}

/*  Globales **/
/* HTML GENERAL ----------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
}

header {
    margin-bottom: 1rem;
    padding-bottom: 10rem;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#log body{
    background-color: #298faf;
    background-image: radial-gradient(#14686a 2px, transparent 2px), radial-gradient(#14686a 2px, #298faf 2px);
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;
}

h1{
    margin-top: 1rem;
}


.titulo {
    text-align: center;
    font-size: 3.8rem;
    margin-left: 3rem;
    /*Pegamos la fuente de GoogleFonts*/
    /*
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    */
}

.titulo span {
    font-size: 2rem;
}
/* ------------------------------- HTML GENERAL */

.contenedor {
    width: 120rem;
    margin: 0 auto 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal a {
    background-color: var(--primario);
}

.tumblain {
    /*border: 1px solid #ddd;*/
    border-radius: 1rem;
    padding: 1rem;
    width: 30rem;
    float: left;
}

.tumblaind {
    /*border: 1px solid */
    border-radius: 1rem;
    padding: 1rem;
    width: 28rem;
    float: right;
}

.line {
    background-image: linear-gradient(to left, var(--morado) 0%, var(--naranja) 50%, var(--verde) 100% );
}


.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
    .contenido-hero h2 {
        font-size: 5rem;
        text-align: center;
    }
}


/* Hero */
.hero {
    background-image: url(../img/Atizapan.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    /** Anterior **/
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}

.contenido-hero h2 {
    font-size: 5rem;
}

/*--------------------------------------------------------------------Card */

.cempo-container {  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: var(--blanco);
    width: 270px; /*Para hacerlo más delgado */
    height: 400px; /*Darle separacion entre secciones*/
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    background-color: var(--blanco);
    height: 150px;
    margin-bottom: 15px;
    background-image: url(../img/TizAlertaApp.png); /*Imagen pendiente*/
    background-size: cover;
    border-radius: 15px 15px 0 0;
}



.card h2 {
    padding: 10px;
    text-align: center;
}

.card p {
    padding: 10px;
}

.card a {
    background-color: var(--black);
    color: var(--blanco);
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;

}

/* -------------------------------------------------------------- Team Section */

.main {
    width: 100%;
    height: 60vh; /*separación entre secciones*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*background-color: var(--morado);*/
}

.mueve{
    
    align-content: center;
    font-size: xx-large;
    margin: 50px;
}

.profile-card{
    position: relative;
    width: 220px;
    height: 220px;
    background: var(--blanco);
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px var(--black);
    transition: .6s;
    margin: 0 25px;
}

.profile-card:hover {
    border-radius: 10px;
    height: 260px;
}

.profile-card .imagen {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}

.profile-card:hover .imagen{
     transform: translateY(-60px);
}

.imagen img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px var(--black);
    transition: .6s;
}

.profile-card:hover img{
    border-radius: 10px;
}

.captation {
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}

.profile-card:hover .captation {
    opacity: 1;
}

.captation h3 {
    font-size: 21px;

}

.captation p {
    font-size: 16px;
    color: #FFC107;
    margin: 2px 0 6px 0;
}

.captation .social-links a {
    color: var(--black);
    margin-right: 8px;
    font-size: 18px;
    transition: .6s;
}

.social-links a:hover {
    color: var(--secundario);
}


/*---------------------------------------------------------------------Footer*/
.ppF {
    width: 100%;
    background-color: var(--black);
}

.ppF .g1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.ppF .g1 .box figure {
    color: var(--blanco);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ppF .g1 .box figure img {
    color: var(--blanco);
    width: 250px;
}

.ppF .g1 .box h2 {
    color: var(--blanco);
}

.ppF .g2 .box h2{
    color: var(--blanco);
    margin-bottom: 25px;
    font-size: 20px;
}

.ppF .g1 .box p{
    color: var(--blanco);
    margin-bottom: 10px;
}

.ppF .g1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: var(--blanco);
    margin-right: 10px;
    background-color: var(--black);
    text-align: center;
    transition: all 300ms ease;
}

.ppF .g1 .red-social a:hover{
    color: var(--secundario);
}

.ppF .g2{
    background-color: var(--footer);
    padding: 15px, 10px;
    text-align: center;
    color: var(--blanco);
}

.ppF .g2 small{
    font-size: 15px;
}

/*---------------------------------------------------Responsive Footer*/
@media screen and (max-width:800px) {
    .ppF .g1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px
    }
    
    .tumblaind {
        border-radius: 0rem;
        padding: 0rem;
        width: 0rem;
        float: right;
    }

    .main {
        height: 300vh;
    }
}

@media screen and (width: 768px) {
    .main {
            height: 100vh;
        }

}


/**-- Reports Forms --------------------------------------------*/

/*Burbujas */

.burbuja {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(235, 51, 51);
    opacity: .3;

    position: absolute; /*Posición del la brubuja*/
    bottom: 0;
    left: 5%;

    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;

}

.burbuja:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 35%;
}

@keyframes burbujas {
    0% {
        bottom: 0;
        opacity: 0;
    }
    30% {
        transform: translateX(30px);

    }
    50% {
        opacity: .4;
    }
    100% {
        bottom: 100vh;
        opacity: 0;
    }
    
}